<div class="jumbotron">
  Hello, my name is projektPRA_ASP.NET_server and I AM RUNNING!     
</div>
<div class="well well-sm"> 
 <h4> The sole purpose of my existence is to provide WebApi access for external programs.</h4> 
<br /><h5>  Here you can check out some stuff that I provide access to:</h5>

 <button class='btn btn-info' onclick="location.href='api/movies'" type="button" >Movies</button>
 <button class='btn btn-info' onclick="location.href='api/filmcrews'" type="button">Crew Members</button>
 <button class='btn btn-info' onclick="location.href='api/contracts'" type="button">Some Numbers</button>
 <br /><br /><h5>If you wanna manipulate this data, you will have to use this Windows Desktop WPF client:</h5>
 <button class='btn btn-warning' onclick="location.href='https://github.com/danskiiiii/projektPRA_WPF_client'" type="button">Check it out!</button>  
</div>